@using RockPaperScissors.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AjaxOptions ajax = new AjaxOptions
    {
        UpdateTargetId = "statistics"
    };
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/Content/Styles.css")" type="text/css" />
</head>
<body>
    <div id="content">
        <h2>Rock, Paper, Scissors</h2> <br />
        @Ajax.ActionLink("Rock", "Rock", "Home", ajax, new { type = "gameButton" })
        @Ajax.ActionLink("Paper", "Paper", "Home", ajax, new { type = "gameButton" })
        @Ajax.ActionLink("Scissors", "Scissors", "Home", ajax, new { type = "gameButton" }) <br /><br />
        <div id="statistics">
            @Html.Partial("getStatistics") <br />
        </div>
        <br />
        @Ajax.ActionLink("End current game", "EndCurrentGame", "Home", new AjaxOptions { UpdateTargetId = "statistics" }, new { type = "gameButton" }) <br /> <br />
        Enter the number of game you want to revisit: 
        @using (Html.BeginForm("Search", "Home"))
        {
            <div id="searchTextBox">
                @Html.TextBox("number")
                <input type="submit" value="Search" />
            </div>
        }
    </div>
</body>
</html>


